.bg-person-info {
  background-color: $gray-150;
  background-image: url('../images/backgrounds/bg-person-info.png');
}

.bg-gray-100 { background-color: $gray-100; }
.bg-gray-200 { background-color: $gray-200; }
.bg-gray-300 { background-color: $gray-300; }
.bg-gray-450 { background-color: $gray-450; }
.bg-gray-500 { background-color: $gray-500; }
.bg-gray-525 { background-color: $gray-525; }
.bg-gray-550 { background-color: $gray-550; }
.bg-gray-575 { background-color: $gray-575; }
.bg-gray-600 { background-color: $gray-600; }
.bg-gray-625 { background-color: $gray-625; }
.bg-gray-650 { background-color: $gray-650; }
.bg-gray-675 { background-color: $gray-675; }
.bg-gray-700 { background-color: $gray-700; }
.bg-gray-725 { background-color: $gray-725; }
.bg-gray-750 { background-color: $gray-750; }
.bg-gray-800 { background-color: $gray-800; }
