.input-group-search {
  .form-control {
    padding-right: 2rem;
    @include transition($transition-base);
  }

  .input-group-prepend,
  .input-group-append {
    position: absolute;
    z-index: 4;
    margin: 0;
  }

  .input-group-prepend,
  .input-group-append {
    right: 0;
    @include transition($transition-fade);
  }

  & .input-group-prepend,
  &.expand-search .input-group-append {
    opacity: 1;
    pointer-events: auto;
  }

  &.expand-search .input-group-prepend,
  & .input-group-append {
    opacity: 0;
    pointer-events: none;
  }

  &:not(.expand-search) .form-control {
    background-color: transparent;
    border-color: transparent;
  }
}
