{% from 'macros/helpers.html' import sprite %}

{%
set topItems = [
{
text: "Новости"
},
{
text: "Два мнения"
},
{
text: "Консультации"
},
{
text: "Коллекции"
},
{
text: "Фазы луны"
}
]
%}


{%
set moreItems = [
{
icon: "two-opinions",
text: "Два мнения",
link: "/items/dual/"
},
{
icon: "horoscope",
text: "Гороскопы",
link: "/horoscope/"
},
{
icon: "blogs",
text: "Блоги",
link: "/blogs/"
},
{
icon: "video",
text: "Видео",
link: "/video/"
},
{
icon: "kleo-battle",
text: "Клео Баттл",
link: "/items/battle/"
},
{
icon: "couples",
text: "Звездные пары",
link: "/items/couples/"
},
{
icon: "kleoteka",
text: "Клеотека",
link: "/encyclopedia/"
},
{
icon: "test",
text: "Тесты",
link: ""
},
{
icon: "cards",
text: "Открытки",
link: ""
},
{
icon: "dreams",
text: "Сонник",
link: ""
}
]
%}

{%
set bottomItems = [
{
text: "Дом"
},
{
text: "Рецепты"
},
{
text: "Здоровье"
},
{
text: "Мода"
},
{
text: "Красота"
},
{
text: "Слухи"
},
{
text: "О тебе"
},
{
text: "Любовь"
},
{
text: "Семья"
}
]
%}

<header class="header px-0 container header-desktop bg-dark d-none d-lg-flex flex-column">
  <div class="px-4_5 d-flex align-items-center header-top-wrapper">
    <div class="d-flex align-items-center">
      <a href="">
        <img class="header-logo" src="images/kleo-logo.png" alt="" width="170px" height="55px">
      </a>
    </div>
    <div class="d-flex flex-column py-2_5 flex-grow-1 align-items-end h-100">
      <div class="d-flex align-items-center">
        <div class="header-top-nav-scroll">
          <ul class="header-top-nav nav flex-nowrap">
            <li class="nav-item"><a class="nav-link" data-badge="new" href="">Коронавирус</a></li>
            {% for item in topItems %}
            <li class="nav-item"><a class="nav-link" href="{{ item.link }}">{{ item.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <ul class="header-top-nav nav flex-nowrap mr-n2">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              Еще
            </a>
            <div class="dropdown-menu dropdown-menu-right mt-2_25">
              {% for item in moreItems %}
              <a class="dropdown-item d-flex align-items-center dropdown-item-w-icon" href="#">
                {{ sprite(item.icon, '0 0 1 1', 'dropdown-icon text-muted icon') }}
                {{ item.text }}
              </a>
              {% endfor %}
            </div>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center justify-content-between mt-auto pt-2_5">
        {% include "_part/header/header-social.html" %}
        <div class="pl-3 pr-1">
          {% include "_part/header/header-search.html" %}
        </div>
        <div class="dropdown">
          <span class="header-action text-white" data-toggle="dropdown" role="button">
            <i class="header-icon" data-feather="user"></i>
          </span>
          <div class="dropdown-menu dropdown-menu-right mt-2_25">
            <a class="dropdown-item" href="#">Вход</a>
            <a class="dropdown-item" href="#">Регистрация</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav nav-fill header-bottom-nav mt-auto">
    {% for item in bottomItems %}
    <li class="nav-item"><a class="nav-link" href="">{{ item.text }}</a></li>
    {% endfor %}
  </ul>
</header>
